@model Cursos.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model.Cursos)
{


    <div class="card mb-3" style="max-width: 540px;">

        <div class="col-md-4">
            <img src="@Html.DisplayFor(modelItem => item.thumbnail)" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.nome)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.resumo)</p>
                <p class="card-text"><a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Veja mais</a> |</p>

            </div>
        </div>

    </div>

}



<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            @foreach (var item in Model.Postagens)
            {
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="@Html.DisplayFor(modelItem => item.imagemCapa)" alt="First slide">
                            </div>
                            <h3><a href="blog-details.html">@Html.DisplayFor(modelItem => item.tituloPost)</a></h3>
                            <p> @Html.DisplayFor(modelItem => item.conteudo)</p>
                        </div>
                        <div class="footer">
                            <div class="actions">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Detalhes</a>
                            </div>
                            <ul class="stats">
                                <li><a href="javascript:void(0);">General</a></li>
                                <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                                <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>